[Unit]
Description=Remowt polkit helper service

[Service]
Type=dbus
BusName=lach.polkit.helper1
ExecStart=@libexecdir@/polkit-backend
# TODO: Hardening

[Install]
WantedBy=multi-user.target
Alias=dbus-lach.polkit.helper1.service
